@font-face {
  font-family: "Circular Std";
  src: url("../../fonts/CircularStd-Medium.woff2") format("woff2"), url("../../fonts/CircularStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Sofia Pro";
  src: url("../../fonts/SofiaProBold.woff2") format("woff2"), url("../../fonts/SofiaProBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Sofia Pro";
  src: url("../../fonts/SofiaProMedium.woff2") format("woff2"), url("../../fonts/SofiaProMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
}

.body {
  font-family: "Sofia Pro", sans-serif, "Arial";
  font-weight: 500;
  font-style: normal;
  min-width: 375px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(42px);
}

.container {
  max-width: 1340px;
  min-width: 345px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.header-box {
  width: 80%;
  margin-top: 49px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}
.header-box__basket {
  display: inline-flex;
  padding-left: 42px;
}
.header-box__basket:hover path {
  fill: #F4DE4D;
}
.header-box__account {
  display: inline-flex;
  padding-left: 25px;
}
.header-box__account:hover path {
  fill: #F4DE4D;
}

.logo {
  display: block;
}
.logo-box {
  width: 20%;
  margin-top: 51px;
}

.search-wrap {
  display: flex;
  align-items: center;
}

.search-btn {
  width: 24px;
  height: 24px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  background-size: cover;
  border: transparent;
  display: inline-block;
  cursor: pointer;
}

.searchbar {
  all: initial;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #000000;
  opacity: 0.2;
  margin-left: 17px;
}

.menu-wrap {
  display: flex;
  align-items: center;
}

.menu__list {
  list-style: none;
  padding-inline-start: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 42px;
  position: relative;
}
.menu__item {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.menu__item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 29px;
  width: 100%;
  height: 2px;
  background-color: #000000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  opacity: 0;
  transition: opacity 0.3s ease;
}
.menu__item:hover::after {
  opacity: 1;
}
.menu__link {
  color: #000000;
}

.sidebar {
  width: 20%;
  margin-top: 57px;
}
.sidebar-title {
  font-family: "Sofia Pro", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 47px;
  margin-bottom: 45px;
}
.sidebar__list {
  list-style: none;
  padding-inline-start: 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.sidebar__item {
  font-family: "Sofia Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15.7099px;
  line-height: 24px;
}
.sidebar__link {
  color: #000000;
  display: inline-flex;
  align-items: center;
}
.sidebar__link::before {
  content: "";
  background-repeat: no-repeat;
  background-position: center center;
  width: 23px;
  height: 23px;
  margin-right: 10px;
}
.sidebar__link.icon1::before {
  background-image: url("../img/lightning.svg");
}
.sidebar__link.icon2::before {
  background-image: url("../img/clothes.svg");
}
.sidebar__link.icon3::before {
  background-image: url("../img/shoes.svg");
}
.sidebar__link.icon4::before {
  background-image: url("../img/bag.svg");
}
.sidebar__link.icon5::before {
  background-image: url("../img/active.svg");
}
.sidebar__link.icon6::before {
  background-image: url("../img/gift.svg");
}
.sidebar__link.icon7::before {
  background-image: url("../img/diamond.svg");
}

.footer {
  margin-top: 316px;
  margin-bottom: 60px;
}

.help-box {
  width: 20%;
  display: flex;
  align-items: center;
}
.help-box__btn {
  width: 48px;
  height: 48px;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  background-size: cover;
  border: none;
  display: inline-flex;
  cursor: pointer;
}
.help-box__btn:hover path {
  fill: #F6F6F6;
}
.help-box__btn:hover circle {
  fill: #F4DE4D;
}
.help-box__link {
  font-family: "Sofia Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15.7099px;
  line-height: 24px;
  color: #000000;
  margin-left: 17px;
}

/*# sourceMappingURL=style.css.map */
