$default-font: "Sofia Pro", sans-serif;
$content-width: 1340px;
$font-color: #000000;
$icon-color: #F4DE4D;


$breakpoint-xxl: 1200px;
$breakpoint-xl: 1024px;
$breakpoint-md: 767px;
$breakpoint-sm: 576px;
